<div class="coffeelove2"></div>
<div class="bannerdata"></div>
<br>
  <h2>G A L L E R Y</h2>
  <div class="images">
<img src="../../assets/images/coffee1.jpeg" alt="coffeshopimage"class="image">
<img src="../../assets/images/coffee6.jpeg"alt="coffeshopimage"class="image">
<img src="../../assets/images/coffee2.jpeg"alt="coffeshopimage"class="image">
<img src="../../assets/images/coffee3.jpeg"alt="coffeshopimage"class="image">
<img src="../../assets/images/coffee4.jpeg"alt="coffeshopimage"class="image">
<img src="../../assets/images/coffee5.jpeg"alt="coffeshopimage"class="image">
<img src="../../assets/images/coffee7.jpeg"alt="coffeshopimage"class="image">
<img src="../../assets/images/coffee8.jpeg"alt="coffeshopimage"class="image">
<img src="../../assets/images/1.jpg" alt="coffeshopimage"class="image">
<img src="../../assets/images/wp.jpg"alt="coffeshopimage"class="image">
<img src="../../assets/images/coffeebg.jpg"alt="coffeshopimage"class="image">
<img src="../../assets/images/new.jpg"alt="coffeshopimage"class="image">
<img src="../../assets/images/new4.jpg"alt="coffeshopimage"class="image">
<img src="../../assets/images/new5.jpg"alt="coffeshopimage"class="image">
<img src="../../assets/images/new6.jpg"alt="coffeshopimage"class="image">
<img src="../../assets/images/newcoffee.jpg"alt="coffeshopimage"class="image">
<img src="../../assets/images/unnamed.jpg"alt="coffeshopimage"class="image">
<img src="../../assets/images/coffee-with-chocolate.jpg"alt="coffeshopimage"class="image">
<img src="../../assets/images/coffeeLOVE.jpg"alt="coffeshopimage"class="image">
<img src="../../assets/images/ima.jpg"alt="coffeshopimage"class="image">
</div>

<h1>About Us:</h1>
<!-- <body background="../../assets/images/logo.jpg"> -->
<div class="About">
    <h3>Coffee is a brewed drink prepared from roasted cofffee beans,the seeds of berries from certain coffee species.<br>once riped,coffee berries are picked,processed and dried.Dried coffee seeds are roasted<br> to varying degrees,depending on the desired flavour.Roasted beans are ground and then brewed <br>with near-boiling water to produce the beverage known as "COFFEE".
    <br><br>
The people who love coffee and feel it,that coffee would relive from their stress always love coffee like any other thing.<br>we provide coffee with good taste where people always love it.
<br>coffee is someones love,someones happiness and someones everything.</h3>
<img src="../../assets/images/Logo.jpg" alt="coffelogo">
</div>
<!-- </body> -->
    <footer class=footer>
    <img src="../../assets/images/footer-bg.jpg" alt="coffeeimage" class=foot >
    <div class="data">
        <h2>copyrights ©2020 Lemon solutions</h2>
    </div>
</footer>
<!-- </body> -->