<!-- <div>
    <br>
    <mat-card>
        <section class="mat-typography">
        <h3>create a new issue</h3>
    </section>
    <mat-divider>

    </mat-divider>
    <br>
    <form [formGroup]="updateForm" class="Update-form">
        <mat-form-field class="field-full-width">
            <input matInput placeholder="firstname" formControlName="Firstname"#Firstname>
        </mat-form-field>

        <mat-form-field class="field-full-width">
            <input matInput placeholder="lastname" formControlName="Lastname"#Lastname>
        </mat-form-field>

        <mat-form-field class="field-full-width">
            <input matInput placeholder="Phonenumber" formControlName="phonenumber"#phonenumber>
        </mat-form-field>

        <mat-form-field class="field-full-width">
            <input matInput placeholder="age" formControlName="Age"#Age>
        </mat-form-field>

        <mat-form-field class="field-full-width">
            <input matInput placeholder="Date Of Birth" formControlName="DOB"#DOB>
        </mat-form-field>

        <mat-form-field class="field-full-width">
            <input matInput placeholder="gender" formControlName="Gender"#Gender>
        </mat-form-field>

        <mat-form-field class="field-full-width">
            <input matInput placeholder="Email" formControlName="Email"#Email>
        </mat-form-field>

        <mat-form-field class="field-full-width">
            <input matInput placeholder="password" formControlName="Password"#Password>
        </mat-form-field>

        <mat-form-field class="field-full-width">
            <input matInput placeholder="profilephoto" formControlName="profilePic"#profilePic>
        </mat-form-field>
        <mat-divider>

        </mat-divider>
        <br><br>
        <button mat-raised-button color="accent" routerLink="/list">Back</button>&nbsp; -->
        <!-- <button type="submit" (click)="addDetails(Firstname.value,Lastname.value,phonenumber.value,Age.value,DOB.value,Gender.value,Email.value,Password.value)"[disabled]="updateForm.pristine||updateForm.invalid"mat-raised-button color="primary">save</button>&nbsp; -->
    <!-- </form>
    </mat-card>
</div> -->
    
